<div class="container-popup">
  <div class="xbox-steps-header" *ngIf="isInicialize && !showError">
    Intento {{ currentIntent }} de {{ maxIntent }}
  </div>

  <div class="xbox-steps-header" *ngIf="!isInicialize && !showError">
    Inicializando biometría...
  </div>

  <div id="xcontainer-contend" *ngIf="isInicialize && !showError">
    <h3 class="xg2-title-main red" *ngIf="showError">
      Ha ocurrido un error
    </h3>

    <h3 class="xg2-title-main red" *ngIf="showValidateOk">
      Verificación biométrica correcta
    </h3>

    <div class="xg2-descripcion" style="font-size: 16px;">
      <p *ngIf="!showPreviewImages && !showValidateOk">
        Ingresa en el lector la huella indicada a continuación
      </p>
      <strong>
        <p>{{ inputUser.documentType }} | {{ inputUser.documentNumber }}</p>
      </strong>
      <p *ngIf="currentVerify" style="color: darkblue;">
        {{ currentVerify.nombreCliente }} {{ currentVerify.apellidoPatCliente }}
        {{ currentVerify.apellidoMatCliente }}
      </p>
      <p *ngIf="handlerValidation && handlerValidation.isError"
        class="container-error">
        {{ handlerValidation.message }}
      </p>
    </div>

    <!-- Reading finger -->
    <img [src]="'/bio/paw-step.gif' | image" class="ximg-hand"
      *ngIf="(showPreviewImages && !showValidateOk) || isLoading" />
    <!-- Finder by number -->
    <img [src]="currentFinger | fingerimage | image" class="ximg-hand"
      *ngIf="!showPreviewImages && !isLoading" />
    <!-- Validation finger OK -->
    <img [src]="'/bio/paw-ok.jpg' | image" class="ximg-hand"
      *ngIf="showPreviewImages && showValidateOk" />

    <div class="xg2-text-paw">
      <p>{{ currentFinger | finger }}</p>
      <div class="xtop-text-paw" style="text-align: center" *ngIf="timer && isLoading"> {{timer}} segundos</div>
    </div>
  </div>

  <div id="container-loader" *ngIf="(!isInicialize && !showError)"
    align="center">
    <mat-progress-spinner [color]="'primary'" [diameter]="50"
      [mode]="'indeterminate'">
    </mat-progress-spinner>
  </div>

  <div class="container-error" *ngIf="showError">
    {{ handlerValidation.message }}
  </div>

  <div class="xfooter-popup" align="center">
    <button
      [disabled]="(!isInicialize || isLoading) || isFinal || isHit"
      class="xbutton btn-initval"
      type="button"
      style="display: inline;margin-right: 10px" (click)="initValidation()"
      mat-raised-button color="primary">
      Iniciar validación
    </button>
    <button *ngIf="!isHit || isFinal" [disabled]="isLoading || isHit" class="xbutton btn-initval"
      style="display: inline;"
      type="button"
      (click)="closeModal(false)" mat-raised-button color="warn">
      Cancelar
    </button>
    <button
      *ngIf="isFinal || isHit"
      type="button"
      class="xbutton btn-initval"
      style="display: inline;margin-left: 10px" (click)="closeModal(true)"
      mat-raised-button color="primary">
      Terminar
    </button>
  </div>
</div>