<div class="box-steps-header"  *ngIf="isInicialize && !showError">
  Intento {{ 1 }} de {{ 4 }}
</div>

<div class="box-steps-header" *ngIf="!isInicialize && !showError">
  Inicializando biometría...
</div>

<div id="container-contend" *ngIf="isInicialize && !showError">
  <h3 class="g2-title-main red" *ngIf="showError">
    Ha ocurrido un error
  </h3>

  <h3 class="g2-title-main red" *ngIf="showValidateOk">
    Verificación biométrica correcta
  </h3>

  <div class="g2-descripcion" style="font-size: 16px;">
    <p>
      Ingresa en el lector la huella indicada a continuación
    </p>
    <strong><p>{{ documentType }} | {{ documentNumber }}</p></strong>
  </div>

  <!-- Reading finger -->
  <img src="./assets/biometrics/paw-step.gif" class="img-hand" *ngIf="showPreviewImages && !showValidateOk" />
  <!-- Finder by number -->
  <img src="./assets/biometrics/finger_2.png" class="img-hand" *ngIf="!showPreviewImages" />
  <!-- Validation finger OK -->
  <img src="./assets/biometrics/paw-ok.jpg" class="img-hand" *ngIf="showPreviewImages && showValidateOk" />

  <div class="top-text-paw" style="text-align: center">10 segundos</div>

  <div class="g2-text-paw">
    <p>{{ currentFinger | finger }}</p>
  </div>

</div>

<div id="container-loader" *ngIf="!isInicialize && !showError" align="center">
  <mat-progress-spinner
    class="example-margin"
    [color]="'primary'"
    [diameter]="50"
    [mode]="'indeterminate'">
  </mat-progress-spinner>
</div>

<div id="container-error" *ngIf="showError" >
  Ha ocurrido un problema para inicializar Biometría
</div>


<div class="footer-popup" align="center">
  <button [disabled]="!isInicialize" class="button btn-initval" style="display: inline;margin-right: 10px"
    (click)="initValidation()" mat-raised-button
    color="primary">
    Iniciar validación
  </button>
  <button [disabled]="isLoading" class="button btn-initval" style="display: inline;"
    (click)="cancelValidation()" mat-raised-button
    color="warn">
    Cancelar
  </button>
</div>
