.ximg-hand
  margin 0 auto
  width 120px
  max-height: 100px
  display block
  margin-bottom 15px
.xg2-text-paw
   p
     color #009b3a!important
     font-size 16px!important
     margin 0
     text-align center
     margin-top 5px
     font-weight 500
.xbox-temp
   padding 3px 10px
   width 20px
   margin 0 auto
   z-index 999
   position absolute
   font-weight 500
   left 50%
   top 200px
   margin-left -17px
   text-align center
.xtop-text-paw
  top 211px
.xfooter-poppup
  border-top 1px solid #c0c8cc
.xhuella-link
  color #0039a6
  font-weight 500
  text-decoration underline
  font-size 14px
  position: absolute;
  left: 20px;
  bottom: 28px;
  cursor pointer
.xbtn-initval
  margin 0 auto
  display block
.xfooter-popup
  padding-top 20px
  margin-top 41px
  border-top 1px solid #c0c8cc
  min-height 36px
.xwithout-edge
  border 0
.xg2-title-main
	max-width 330px
	font-size 18px
	margin auto
	font-family 'omnes'
	font-weight 600
	text-align center
	color #009b3a
.xg2-descripcion
	font-size 14px
	color #585858
	font-family 'omnes'
	font-weight normal
	text-align center
	margin-bottom 45px
	margin-top 10px

#container-loader
  padding: 20px
#container-error
  text-align: center
  color: rgba(2500, 0, 0, 0.6)
  font-size: 16px
#container-contend
  text-align: center
